<configuration>

    <property name="logDir" value="${LOG_DIR:-${java.io.tmpdir:-/tmp}/inspectit-ocelot-config-server}" />
    <property name="consoleLogPattern" value="${LOG_CONSOLE_PATTERN:-%d{HH:mm:ss.SSS} [%+16thread] %-5level %logger{36} - %msg%n}"/>
    <property name="fileLogPattern" value="${LOG_FILE_PATTERN:-%d{HH:mm:ss.SSS} [%+16thread] %-5level %logger{36} - %msg%n}"/>

    <!-- Console output  -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${consoleLogPattern}</pattern>
        </encoder>
    </appender>

    <!-- File output for all Logs -->
    <appender name="comFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/full.log</file>
        <encoder>
            <pattern>${fileLogPattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logDir/full.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- File output for agent access -->
    <appender name="accessFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/access.log</file>
        <encoder>
            <pattern>${fileLogPattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logDir/access.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- File output for user access -->
    <appender name="auditFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/audit.log</file>
        <encoder>
            <pattern>${fileLogPattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logDir/audit.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- Agent access logger -->
    <logger name="rocks.inspectit.ocelot.rest.agent" level="debug">
        <appender-ref ref="accessFile"/>
    </logger>
    <!-- Additional configuration fetch debugging -->
    <logger name="rocks.inspectit.ocelot.agentstatus" level="debug">
        <appender-ref ref="accessFile"/>
    </logger>
    <logger name="rocks.inspectit.ocelot.agentconfiguration" level="debug">
        <appender-ref ref="accessFile"/>
    </logger>

    <!-- User access logger -->
    <logger name="rocks.inspectit.ocelot.filters.AccessLogFilter">
        <appender-ref ref="auditFile"/>
    </logger>
    <logger name="rocks.inspectit.ocelot.security.audit">
        <appender-ref ref="auditFile"/>
    </logger>

    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="comFile"/>
    </root>

</configuration>
