name: Java Agent Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'components/**'
      - 'inspectit-ocelot-demo/**'
      - 'inspectit-ocelot-documentation/**'
      - 'resources/**'

jobs:
  pr-check:
    name: 'Testing on ${{ matrix.dockerimage }}'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dockerimage:
          - 'openjdk:8-jdk'
          - 'openjdk:13-jdk'
          - 'openjdk:11-jdk'
          - 'ibmcom/ibmjava:8-sdk'
          - 'sgrio/java:jdk_8_ubuntu'
          - 'sgrio/java:jdk_11_ubuntu'
          - 'adoptopenjdk/openjdk8:latest'
    container: ${{ matrix.dockerimage }}
    steps:
      - uses: actions/checkout@v2
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: assemble
        run: ./gradlew :inspectit-ocelot-core:assemble
      - name: test
        run: ./gradlew :inspectit-ocelot-core:test --no-daemon -i
      - name: systemTest
        run: ./gradlew :inspectit-ocelot-agent:systemTest
      - name: codeCoverage if oracle-jdk8
        if: matrix.dockerimage == 'sgrio/java:jdk_8_ubuntu' && github.event_name == 'pull_request'
        run: |
          ./gradlew codeCoverageReport
      - name: upload to codecov.io
        if: matrix.dockerimage == 'sgrio/java:jdk_8_ubuntu' && github.event_name == 'pull_request'
        uses: codecov/codecov-action@v1
        with:
          file: ./build/reports/jacoco/report.xml
          fail_ci_if_error: true
      - name: upload test results
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: 'test-results'
          path: |
            inspectit-ocelot-agent/build/test-results
            inspectit-ocelot-core/build/test-results
            inspectit-ocelot-core/build/reports
            inspectit-ocelot-config/build/test-results
      - name: upload heapdump
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: 'heapdump'
          path: |
            /__w/inspectit-ocelot/inspectit-ocelot/test_heapdump.bin
  jmh-compile:
    name: Compile JMH Tests
    runs-on: ubuntu-latest
    container: openjdk:8-jdk
    steps:
      - uses: actions/checkout@v2
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: jmhCompile
        run: ./gradlew jmhCompile
  attach-alpine-jdk8:
    name: Testing Runtime Attachment
    runs-on: ubuntu-latest
    container: openjdk:8-jdk-alpine
    steps:
      - uses: actions/checkout@v2
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: assemble
        run: ./gradlew assemble
      - name: attach
        run: |
          apk update && apk add curl
          echo "class Dummy{public static void main(String[] args)throws InterruptedException{while (true){Thread.sleep(1000);}}}" > Dummy.java
          javac Dummy.java
          $(nohup java Dummy > out.txt &)
          sleep 2
          processId=$( ps -e -o pid,comm | grep java | awk {'print $1'} )
          pwd
          java -jar inspectit-ocelot-agent/build/inspectit-ocelot-agent-SNAPSHOT.jar $processId
          curl -4 -o /dev/null -s -w "%{http_code}" --connect-timeout 2 --max-time 2  --retry 3 --retry-delay 3 --retry-max-time 10 --retry-connrefuse http://localhost:8888
