name: Configuration Server Tests

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - '.github/workflows/configurationserver_test.yml'
      - 'components/inspectit-ocelot-configurationserver/**'
      - 'gradle.properties'
      - '!components/inspectit-ocelot-configurationserver/README.md'
  workflow_call:

env:
  NVD_API_TOKEN: ${{ secrets.NVD_API_KEY }} # Token to access NVD API for dependency-check

jobs:
  test:
    name: Assemble & Test
    runs-on: ubuntu-latest
    env:
      working-directory: ./components/inspectit-ocelot-configurationserver
    container: eclipse-temurin:17
    steps:
      - uses: actions/checkout@v2
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: assemble
        run: ../../gradlew assemble
        working-directory: ${{env.working-directory}}
      - name: Build jar with frontend
        working-directory: ${{env.working-directory}}
        run: ../../gradlew bootJarWithFrontend
      - name: test
        run: ../../gradlew test
        working-directory: ${{env.working-directory}}

  dependency-scan:
    name: Dependency Scan
    runs-on: ubuntu-latest
    env:
      working-directory: ./components/inspectit-ocelot-configurationserver
    container: eclipse-temurin:17
    steps:
      - uses: actions/checkout@v2
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Scan dependencies
        working-directory: ${{env.working-directory}}
        run: ../../gradlew :inspectit-ocelot-configurationserver:dependencyCheckAnalyze
