name: Automatic Security Check Configuration-Server

on:
  schedule:
    - cron: "0 8 1,15 * *" # At 08:00 on day-of-month 1 and 15

jobs:
  security-check:
    name: Security Check Configuration-Server
    runs-on: ubuntu-latest
    container: eclipse-temurin:17
    steps:
      - uses: actions/checkout@v3
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: build Configuration-Server
        run: ./gradlew :inspectit-ocelot-configurationserver:bootJarWithFrontend
      - name: Run DependencyCheck Backend
        uses: dependency-check/Dependency-Check_Action@main
        id: depcheck
        continue-on-error: true
        with:
          project: inspectIT/inspectit-ocelot-configuration-server
          path: 'components/inspectit-ocelot-configurationserver'
          format: 'HTML'
          out: 'reports/configuration-server'
          args: >
            --disableAssembly
            --disableNodeAudit
            --nvdApiKey ${{ secrets.NVD_API_KEY }}
            --nvdApiDelay 10000
      - name: Run DependencyCheck UI
        uses: dependency-check/Dependency-Check_Action@main
        id: depcheck-ui
        continue-on-error: true
        with:
          project: inspectIT/inspectit-ocelot-configuration-server-ui
          path: 'components/inspectit-ocelot-configurationserver-ui'
          format: 'HTML'
          out: 'reports/configuration-server-ui'
          args: >
            --disableAssembly
            --disableNodeAudit
            --nvdApiKey ${{ secrets.NVD_API_KEY }}
            --nvdApiDelay 10000
      - name: build ConfigDocsGenerator
        run: ./gradlew :inspectit-ocelot-configdocsgenerator:assemble
      - name: Run DependencyCheck ConfigDocsGenerator
        uses: dependency-check/Dependency-Check_Action@main
        id: depcheck-docs
        continue-on-error: true
        with:
          project: inspectIT/inspectit-ocelot-configdocsgenerator
          path: 'components/inspectit-ocelot-configdocsgenerator'
          format: 'HTML'
          out: 'reports/configdocsgenerator'
          args: >
            --disableAssembly
            --disableNodeAudit
            --nvdApiKey ${{ secrets.NVD_API_KEY }}
            --nvdApiDelay 10000
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report-ocelot-configurationserver
          path: ${{ github.workspace }}/reports
      - name: Set DependencyCheck status
        run: |
          if [ ${{ steps.depcheck.outcome == 'failure' || steps.depcheck-ui.outcome == 'failure' || steps.depcheck-docs.outcome == 'failure' }} == "true" ]; then
            echo "DEP_CHECK_STATUS=failure" >> $GITHUB_ENV
          else
            echo "DEP_CHECK_STATUS=success" >> $GITHUB_ENV
          fi
      - name: Send Notification
        uses: slackapi/slack-github-action@v2.0.0
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "*Ocelot-Configuration-Server Dependency-Check Report*: ${{ env.DEP_CHECK_STATUS }}\nPlease check the report here: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
      # if DependencyCheck failed, the job should also fail, but only after the results were uploaded
      - name: Validate DependencyCheck outcome
        if: ${{ env.DEP_CHECK_STATUS == 'failure' }}
        run: |
          echo "DependencyCheck failed"
          exit 1
