name: ConfigDocsGenerator Tests

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - '.github/workflows/configdocsgenerator_test.yml'
      - 'components/inspectit-ocelot-configdocsgenerator/**'
  workflow_call:

env:
  NVD_API_TOKEN: ${{ secrets.NVD_API_KEY }} # Token to access NVD API for dependency-check

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      working-directory: ./components/inspectit-ocelot-configdocsgenerator
    container: openjdk:8-jdk
    steps:
      - uses: actions/checkout@v2
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: test
        run: ../../gradlew test
        working-directory: ${{env.working-directory}}

  dependency-scan:
    name: Dependency Scan
    runs-on: ubuntu-latest
    env:
      working-directory: ./components/inspectit-ocelot-configdocsgenerator
    container: openjdk:8-jdk
    steps:
      - uses: actions/checkout@v2
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Scan dependencies
        working-directory: ${{env.working-directory}}
        run: ../../gradlew :inspectit-ocelot-configdocsgenerator:dependencyCheckAnalyze
