name: ConfigDocsGenerator Tests

on:
  #push:
  #  branches:
  #    - master
  pull_request:
    paths:
      - '.github/workflows/configdocsgenerator_test.yml'
      - 'components/inspectit-ocelot-configdocsgenerator/**'
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      working-directory: ./components/inspectit-ocelot-configdocsgenerator
    container: openjdk:8-jdk
    steps:
      - uses: actions/checkout@v2
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: test
        run: ../../gradlew test
        working-directory: ${{env.working-directory}}
