name: Configuration UI Tests

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - 'components/inspectit-ocelot-configurationserver-ui/**'
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    container: eclipse-temurin:17
    env:
      working-directory: ./components/inspectit-ocelot-configurationserver-ui
    steps:
      - uses: actions/checkout@v3
      - name: Build frontend
        working-directory: ${{env.working-directory}}
        run: ../../gradlew buildFrontend

  dependency-scan:
    name: Dependency Scan
    runs-on: ubuntu-latest
    container: eclipse-temurin:17
    steps:
      - uses: actions/checkout@v3
      - name: Run DependencyCheck plugin
        uses: dependency-check/Dependency-Check_Action@main
        id: depcheck
        continue-on-error: true
        with:
          project: inspectIT/inspectit-ocelot-configuration-server-ui
          path: 'components/inspectit-ocelot-configurationserver-ui'
          format: 'HTML'
          args: >
            --disableAssembly
            --disableNodeAudit
            --nvdApiKey ${{ secrets.NVD_API_KEY }}
            --nvdApiDelay 10000
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report-ocelot-configurationserver-ui
          path: ${{ github.workspace }}/reports
      # if DependencyCheck failed, the job should also fail, but only after the results were uploaded
      - name: Validate DependencyCheck outcome
        if: ${{ steps.depcheck.outcome == 'failure' }}
        run: |
          echo "DependencyCheck failed"
          exit 1
